@use "src/variables" as v;

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 0 0;
  height: 100%;

  header, .flex-bottom {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: v.$big_size;
  }

  .flex-content {
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow: hidden;
    overflow-y: scroll;
  }
}

header {
  display: flex;
  align-items: center;
  height: v.$big_size;
  background-color: v.$brown;
  color: v.$light_brown;

  * {
    display: inline;
  }

  a>img {
    height: v.$big_size - 20px;
    padding: 10px;

    &:hover {
      background-color: v.$dark_brown;
    }
    &:active {
      transform: translateY(1px);
    }
  }
}

.header-title {
  font-size: large;
}

.right {
  margin-left: auto;
}
