<div *ngIf="user" [class.flex-row]="isDesktop">
  <app-chats [class.chats-container]="isDesktop" *ngIf="isDesktop || !chat"
             [user]="user" (onChatSelected)="selectChat($event)" (onChatLeft)="leaveChat($event)"/>
  <div [class.chat-container]="isDesktop" *ngIf="chat">
    <app-chat *ngIf="!isChatSettings" [user]="user" [chat]="chat" (onChatUnselected)="unselectChat()" (onSettingsToggled)="toggleSettings()"/>
    <app-chat-settings *ngIf="isChatSettings" [user]="user" [chat]="chat" (onSettingsToggled)="toggleSettings()"/>
  </div>
</div>
<h1 class="text-primary text-center" *ngIf="!user">loading...</h1>
