<div *ngIf="user" [class.flex-row]="isDesktop">
  <app-chats (onChatLeft)="leaveChat($event)" (onChatSelected)="selectChat($event)" *ngIf="isDesktop || !chat"
             [class.chats-container]="isDesktop" [user]="user"/>
  <div *ngIf="chat" [class.chat-container]="isDesktop">
    <app-chat (onChatUnselected)="unselectChat()" (onSettingsToggled)="toggleSettings()" *ngIf="!isChatSettings"
              [chat]="chat" [user]="user"/>
    <app-chat-settings (onSettingsToggled)="toggleSettings()" *ngIf="isChatSettings" [chat]="chat" [user]="user"/>
  </div>
</div>
<h1 *ngIf="!user" class="text-primary text-center">loading...</h1>
