<h1 class="text-primary text-center">Security</h1>
<div class="text-center">
  <button (click)="logout()" class="button-primary">Logout</button>
  <button (click)="resetUuid()" class="button-primary">Reset UUID</button>
</div>
<form [formGroup]="securityForm" class="center">
  <input class="form-input" formControlName="login" placeholder="Enter login" type="text">
  <input class="form-input" formControlName="password" placeholder="Enter password" type="password">
</form>
<button (click)="deactivateUser()" [disabled]="securityForm.invalid" class="button-primary center block">
  Deactivate user
</button>
<form [formGroup]="newPasswordForm" class="center">
  <input class="form-input" formControlName="password" placeholder="Enter new password" type="password">
  <input [ngClass]="newPasswordForm.hasError('passwordMismatch') ? 'ng-invalid' : 'ng-valid'" class="form-input"
         formControlName="confirmPassword" placeholder="Enter new password again" type="password">
</form>
<button (click)="changePassword()" [disabled]="securityForm.invalid || newPasswordForm.invalid" class="button-primary center block">
  Change password
</button>
