<h1 class="text-primary text-center">Update user</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="updateForm" class="center item-flex">
  <div>
    <input #fileInput (change)="setAvatar($event)" accept=".png" class="file-input" type="file">
    <img (click)="fileInput.click()" [ngSrc]="avatarURL??'assets/icon.svg'" alt="avatar" height="100" width="100"/>
  </div>
  <div class="align-right">
    <input [placeholder]="user.username" class="form-input" formControlName="username" type="text">
    <button [disabled]="updateForm.invalid || updateForm.disabled" class="button-primary" type="submit">Apply</button>
  </div>
</form>
