.is-author {
  flex-direction: row-reverse;
  text-align: right;
}

.is-edited {
  font-style: italic;
}

.author-username {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 5px;
  margin-bottom: 0;
}

.message {
  margin-top: 5px;
  word-break: break-word;
}

.embed {
  max-width: 100%;
}
