<h1 class="text-primary text-center">Login</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="center">
  <input class="block form-input" formControlName="login" placeholder="Enter login" type="text">
  <input class="block form-input" formControlName="password" placeholder="Enter password" type="password">
  <div class="block">
    <p [style.visibility]="errorMessage ? 'visible' : 'hidden'" class="error">{{errorMessage}}</p>
    <button [disabled]="loginForm.invalid || loginForm.disabled" class="button-primary form-input" type="submit">
      Login
    </button>
  </div>
  <a class="block text-center button-secondary" routerLink="/register">Register</a>
</form>
