<app-header *ngIf="!chat" [leftButton]="{imageURL: 'assets/back_icon.svg', link: ''}">
  <h1 class="text-primary">Create Chat</h1>
</app-header>
<form (ngSubmit)="onSubmit()" [formGroup]="chatForm" class="center item-flex block">
  <div>
    <input #fileInput (change)="setImage($event)" accept=".png" class="file-input" type="file">
    <img (click)="fileInput.click()" [ngSrc]="imageURL??'assets/icon.svg'" alt="image" height="100" width="100"/>
  </div>
  <div class="align-right">
    <input [placeholder]="chat ? chat.title : 'Title'" class="form-input" formControlName="title" type="text">
    <button [disabled]="chatForm.invalid || chatForm.disabled" class="button-primary" type="submit">Apply</button>
  </div>
</form>
