<div class="users">
  <app-header [leftButton]="{imageURL: 'assets/back_icon.svg', link: ''}">
    <h1 class="text-primary">Users</h1>
  </app-header>
  <div class="tabs-container center">
    <div class="tabs">
      <button (click)="openTab(0)" [disabled]="tab == 0" class="button-primary">Find</button>
      <button (click)="openTab(1)" [disabled]="tab == 1" class="button-primary">Requests</button>
      <button (click)="openTab(2)" [disabled]="tab == 2" class="button-primary">Blocked</button>
    </div>
    <ng-container *ngIf="!isLoading">
      <div *ngIf="tab == 0">
        <input (input)="searchUsers()" [(ngModel)]="searchUsername" class="form-input" maxlength="255" placeholder="Search user" type="text"/>
        <app-user-item (contextmenu)="enableContextMenu($event, searchedUser)" *ngFor="let searchedUser of searchedUsers"
                       [user]="searchedUser"/>
      </div>
      <div *ngIf="tab == 1" class="requests">
        <div>
          <h1 class="text-primary">Incoming requests</h1>
          <app-user-item (contextmenu)="enableContextMenu($event, incoming)" *ngFor="let incoming of this.user?.friendRequestedBy"
                         [user]="incoming"/>
        </div>
        <div>
          <h1 class="text-primary">Outgoing requests</h1>
          <app-user-item (contextmenu)="enableContextMenu($event, outgoing)" *ngFor="let outgoing of this.user?.friendRequests"
                         [user]="outgoing"/>
        </div>
      </div>
      <div *ngIf="tab == 2">
        <app-user-item (contextmenu)="enableContextMenu($event, blocked)" *ngFor="let blocked of this.user?.blockedUsers"
                       [user]="blocked"/>
      </div>
    </ng-container>
    <p *ngIf="isLoading" class="text-primary text-center">Loading...</p>
  </div>
</div>
<div *ngIf="contextMenuComponent">
  <app-context-menu [buttons]="contextMenuComponent.buttons" [title]="contextMenuComponent.title"
                    [x]="contextMenuComponent.x" [y]="contextMenuComponent.y"/>
</div>
