@use "src/variables" as v;

.context-menu {
  position: absolute;
  width: 150px;
  background: v.$brown;
  border-radius: 3px;
}

.context-title {
  height: 37px;
  margin: 5px;
  color: v.$light_brown;
  overflow: hidden;
}

.context-button {
  width: 100%;
  display: block;
}
