/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$dark_brown: #59503F;
$brown: #A79473;
$light_brown: #E6D9C4;
$cube_brown: #9D370F;
$black: #000000;
$white: #ffffff;
$grey: #bbbbbb;
$correct: #99cc00;
$incorrect: #cc0000;

$default_size: 70px;
$small_size: 45px;

* {
  font-family: 'Roboto', math;
  transition: 50ms;
}

body {
  background-color: $light_brown;
}

button {
  font-weight: bolder;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;

  &:disabled {
    opacity: 0.66;
  }
}

form {
  width: 350px;
}

input[type="text"], input[type="password"] {
  border: none;
  background: linear-gradient(#000, #000) center bottom 5px /100% 1px no-repeat;
  font-size: medium;

  &:focus {
    outline: none;
  }
  &::placeholder {
    color: $brown;
  }
  &.ng-dirty.ng-valid {
    background: linear-gradient($correct, $correct) center bottom 5px /100% 1px no-repeat;
  }
  &.ng-dirty.ng-invalid {
    background: linear-gradient($incorrect, $incorrect) center bottom 5px /100% 1px no-repeat;
  }
}

hr {
  height: 2px;
  background-color: $dark_brown;
  margin-top: 10px;
}

main {
  margin-left: 20px;
  margin-right: 20px;
}

.text-primary, .button-secondary {
  color: $dark_brown;
}

.button-secondary {
  background-color: $light_brown;
  box-shadow: 0 2px 4px $light_brown;

  &:hover {
    background-color: $brown;
  }
}

.text-secondary, .button-primary {
  color: $light_brown;
}

.button-primary {
  background-color: $brown;
  box-shadow: 0 1px 3px $brown;

  &:hover:enabled {
    background-color: $dark_brown;
  }
}

.button-secondary:active:enabled, .button-primary:active:enabled {
  transform: translateY(1px);
}

.block {
  display: block;
  margin-top: 40px;
  margin-bottom: 10px;
}

.form-input {
  min-height: $small_size;
  width: 100%;
}

.text {
  max-height: 60px;
}

.text-center {
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.error {
  color: $incorrect;
  margin: 0;

  &::before {
    content: "*";
  }
}
