$dark_brown: #59503F;
$brown: #A79473;
$light_brown: #E6D9C4;
$cube_brown: #9D370F;
$black: #000000;
$white: #ffffff;
$grey: #bbbbbb;
$correct: #99cc00;
$incorrect: #cc0000;

$big_size: 60px;
$default_size: 45px;
$small_size: 30px;
