//changeable colors
:root {
  --dark-color: #59503F;
  --default-color: #A79473;
  --light-color: #E6D9C4;
  --accent-color: #9D370F;
}

$dark_brown: var(--dark-color);
$brown: var(--default-color);
$light_brown: var(--light-color);
$cube_brown: var(--accent-color);
$black: #000000;
$white: #ffffff;
$grey: #bbbbbb;
$correct: #99cc00;
$incorrect: #cc0000;

$big_size: 60px;
$default_size: 45px;
$small_size: 30px;
