<app-header [leftButton]="{imageURL: 'assets/settings_icon.svg', link: '/settings'}"
            [rightButtons]="[
                {imageURL: 'assets/users_icon.svg', link: '/users'},
                {imageURL: 'assets/add_chat_icon.svg', link: '/create'}]">
  <h1>Chats</h1>
</app-header>
<div>
  <app-chat-item *ngFor="let chat of user.chats" [chat]="chat" [blockedUsers]="user.blockedUsers"
                 (click)="onChatSelected.emit(chat)" (contextmenu)="enableContextMenu($event, chat)"/>
</div>
<div *ngIf="contextMenuComponent">
  <app-context-menu [x]="contextMenuComponent.x" [y]="contextMenuComponent.y"
                    [buttons]="contextMenuComponent.buttons" [title]="contextMenuComponent.title"/>
</div>
