<div class="chat">
  <app-header [leftButton]="{imageURL: 'assets/back_icon.svg', event: onChatUnselected}"
              [rightButtons]="[{imageURL: 'assets/settings_icon.svg', event: onSettingsToggled}]"
              class="chat-header">
    <h1 class="text-secondary">{{chat.title}}</h1>
  </app-header>
  <div class="message-list">
    <button (click)="resetPage()" *ngIf="page" class="center button-primary">Reset</button>
    <app-message-item (contextmenu)="enableContextMenu($event, message)" *ngFor="let message of messages"
                      [isBlocked]="isBlocked(message.author.id)" [isMod]="isMod(message.author.id)"
                      [isAuthor]="message.author.id == user.id" [message]="message"
                      class="message-item"/>
    <button (click)="nextPage()" *ngIf="!isLastPage" class="center button-primary">Load more...</button>
  </div>
  <form (ngSubmit)="onSubmit()" *ngIf="!editMessageItem" [formGroup]="messageForm" class="message-form">
    <div>
      <input #fileInput (change)="setEmbed($event)" accept=".png" class="file-input" type="file">
      <a (click)="fileInput.click()" class="button-image">
        <div><img [ngSrc]="embedURL ?? 'assets/add_image_icon.svg'" alt="embed" height="60" width="60"/></div>
      </a>
    </div>
    <input class="message-input" formControlName="text" placeholder="Enter message" type="text"/>
    <button [disabled]="messageForm.invalid || messageForm.disabled" class="button-image" type="submit">
      <div><img [ngSrc]="'assets/send_icon.svg'" alt="send" height="60" width="60"/></div>
    </button>
  </form>
  <form (ngSubmit)="onEditSubmit()" *ngIf="editMessageItem" [formGroup]="editMessageForm" class="message-form">
    <a (click)="cancelEditMessage()" class="button-image">
      <div><img [ngSrc]="'assets/back_icon.svg'" alt="back" height="60" width="60"/></div>
    </a>
    <input [placeholder]="editMessageItem.text??''" class="message-input" formControlName="newText" type="text"/>
    <button [disabled]="editMessageForm.invalid || editMessageForm.disabled" class="button-image" type="submit">
      <div><img alt="send" height="60" ngSrc="assets/send_icon.svg" width="60"/></div>
    </button>
  </form>
</div>
<div *ngIf="contextMenuComponent">
  <app-context-menu [buttons]="contextMenuComponent.buttons" [title]="contextMenuComponent.title"
                    [x]="contextMenuComponent.x" [y]="contextMenuComponent.y"/>
</div>
