@use "src/variables" as v;

.chat {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chat-header, .message-form {
  flex-grow: 0;
}

.message-list {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  flex-grow: 1;
}

.message-item {
  width: 100%;
}

.message-form {
  width: 100%;
  display: flex;
  background: v.$brown;
}

.message-input {
  width: 100%;
  height: v.$big_size;
  color: v.$light_brown;
  background-image: linear-gradient(v.$light_brown, v.$light_brown);
  font-size: large;

  &::placeholder {
    color: v.$light_brown;
  }
}

.file-input {
  display: none;
}
