<div class="chat">
  <app-header class="chat-header" [leftButton]="{imageURL: 'assets/back_icon.svg', event: onChatUnselected}"
              [rightButtons]="[{imageURL: 'assets/settings_icon.svg', event: onSettingsToggled}]">
    <h1>{{chat.title}}</h1>
  </app-header>
  <div class="message-list">
    <app-message-item *ngFor="let message of messages" [message]="message"/>
  </div>
  <form class="message-form" (submit)="onSubmit()" >
    <div>
      <input class="file-input" type="file" accept=".png" name="embed"
             (change)="setEmbed($event)" #fileInput>
      <a class="button-image" (click)="fileInput.click()">
        <img [ngSrc]="embedURL??'assets/add_image_icon.svg'" alt="embed" width="60" height="60"/>
      </a>
    </div>
    <input class="message-input" type="text" placeholder="Enter message" />
    <button type="submit" class="button-image" [disabled]="!messages || messageForm.valid">
      <img ngSrc="assets/send_icon.svg" alt="send" width="60" height="60"/>
    </button>
  </form>
</div>
